# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

node_modules
node_modules/*
/node_modules/
node_modules/
./node_modules
../node_modules

# rest client file for api calling
.rest

uploads/chats/*
uploads/chats/*.jpg
uploads/chats/*.jpeg
uploads/chats/*.txt
uploads/chats/*.webp
uploads/chats/*.xlsx
uploads/chats/*.xls
uploads/chats/*.avif
uploads/chats/*.svg
uploads/chats/*.gif
uploads/chats/*.json
uploads/chats/*.pdf
uploads/items/*.png
uploads/items/*.jpg
uploads/items/*.jpeg
uploads/items/*.txt
uploads/items/*.webp
uploads/items/*.xlsx
uploads/items/*.xls
uploads/items/*.avif
uploads/items/*.svg
uploads/users/*.png
uploads/users/*.jpg
uploads/users/*.jpeg
uploads/users/*.txt
uploads/users/*.webp
uploads/users/*.xlsx
uploads/users/*.xls
uploads/users/*.avif
uploads/users/*.svg
tmp
tmp/
build
temp
